body{background-color: black;
width:95%;
height: 95%;
}
h2{
	color: White;
	text-align: center;
	font-family:Verdana, sans-serif;
	font-size: 50px;
	font-weight: normal;
}
a{
	color:aquamarine;
	display: block; 
	text-align: center;
	font-size: 18px;
	font-weight: normal;
}

p{
	font-family:Verdana,sans-serif;
	color: grey;
	text-align: center;
	font-size:22px;
}
footer{
	color: gray;
	text-align: right;
	font-weight: normal;
	font-size:22px;
}